/*CSS reset settings here*/
*{
    border: 10px;
    padding: 10px;
    margin: 10px;
}
#wrapper{
    width: 100%;
    background-color: silver;
    margin: 10px auto;
    padding: 10px;
}
#header{
    min-height: 150px;
    background-color: green;
    margin: 10px;
    padding: 10px;
    border: 10px;
}
#navigation{
    min-height: 300px;
    width: 210px;
    background-color: blue;
    margin: 10px;
}
#main_content{
    min-height: 400px;
    background-color: red;
    margin-left: 260px;
    margin-top: -330px;
    padding: 15px;
    width: 970px;
    display: block;


}
.subcontents{
    min-height: 200px;
    width: 280px;
    background-color: yellow;
    display: inline-block;
    
}
#advertisement{
    min-height: 90px;
    background-color: purple;
    margin: 10px;
    min-height: 120px;
    background-color: purple;
}

